body, head {
    text-align: center;
}
#listview:hover,#mapview:hover {
	background-color: #B7B1A3;
}
#changeview {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
#posttablelist,#posttablemap {
    margin: 0 auto;
}
#map {
    width: 50%;
    height: 600px;
    display: inline-block;
    margin-right: 25px;
}
#listtable {
    text-align: left;
    width: 40%;
    height: 570px;
    background-color: #B7B1A3;
    display: inline-block;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    overflow-y: scroll;
}
#list {
    text-align: left;
    width: 90%;
    background-color: #B7B1A3;
    display: inline-block;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.row {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
	background-color: #ccc7bd;
}
.row:hover{
    background-color: #dddbd4;
}
[tooltip]:before {
    position: absolute;
    content: attr(tooltip);
    opacity: 0;
    padding: 10px;
    border-radius: 10px;
}
[tooltip]:hover:before {
    opacity: 1;
    background: white;
    border-color: #000000;
    border-style: solid;
    border-width: 3px;
    margin-top:-50px;
    margin-left:5px;
}
[tooltip]:not([tooltip-persistent]):before{
    pointer-events:none;
}