{% extends 'basesite.html' %}

{% load staticfiles %}

{% block title %}Lost Posts{% endblock %}

{% block header %}
Lost Posts
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{%static 'posts/poststyle.css' %}" />
<!DOCTYPE html>
<html>
	<head>
		<title>Lost Posts</title>
    </head>
<body>
   <div id="changeview" style="font-size: 23px">LIST VIEW | <a href="/lostposts/map?{{request.get_full_path|slice:'16:'}}">MAP VIEW</a></div>
    <div id="filtertable"><b>FILTER BY: </b>
        <form action="" method="GET" style="display:inline">
            NAME: <input type="text" name="name">
            <div tooltip="Enter a start and end range, or enter a specific date in the first box" style="display:inline">DATE: <input type="date" name="date1">
            <input type="date" name="date2"></div>
            COLOUR: <input type="text" name="colour">
            BREED: <input type="text" name="breed">
            SEX:
            <select name="sex">
            <option value=""></option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="M/N">Male Neutered</option>
            <option value="F/S" name="sex">Female Spayed</option>
            <option value="X" name="sex">Unknown</option>
            </select>
            <input type="submit" value="Submit" name="filter">
            <input type="submit" value="Reset Search" name="reset">
        </form>
    </div><br>
   <div id="sorttable"><b>SORT BY: </b>
        <form action="" method="GET" style="display:inline">
            {% if '-=' in request.get_full_path %}
                <input type="submit" value="NAME" name="sort+">
                <input type="submit" value="DATE" name="sort+">
                <input type="submit" value="COLOUR" name="sort+">
                <input type="submit" value="BREED" name="sort+">
                <input type="submit" value="SEX" name="sort+">
            {% else %}
                <input type="submit" value="NAME" name="sort-">
                <input type="submit" value="DATE" name="sort-">
                <input type="submit" value="COLOUR" name="sort-">
                <input type="submit" value="BREED" name="sort-">
                <input type="submit" value="SEX" name="sort-">
            {% endif %}
            <input type="hidden" name="default_name" value="{{ name_crit }}">
            <input type="hidden" name="default_date1" value="{{ date_start }}">
            <input type="hidden" name="default_date2" value="{{ date_end }}">
            <input type="hidden" name="default_color" value="{{ colour_crit }}">
            <input type="hidden" name="default_breed" value="{{ breed_crit }}">
            <input type="hidden" name="default_sex" value="{{ sex_crit }}">
        </form>
    </div><br>
	<div id="posttablelist" style="display:block">
		<div id="list">
		{% if lost_post_list %}
			{% for post in lost_post_list %}
			<div class="row">				
				<div class="entry" style="float: left; padding-bottom: 25px; padding-top: 25px; padding-left: 25px; padding-right: 30px" ><img src="{{ post.image_url }}" height="100px" width="100px"></div>
				<div class="entry"><b>Name:</b> {{ post.name }}</div>
				<div class="entry"><b>Date {{ post.get_state_display }}: </b> {{ post.date }} </div>
				<div class="entry"><b>Color:</b> {{ post.colour }}</div>
				<div class="entry"><b>Breed:</b> {{ post.breed }}</div>
				<div class="entry"><b>Sex:</b>  {{ post.get_sex_display }}</div><br>
				<div class="entry"><a href="/{{ post.id }}/post">More Details</a></div>
				<div class="entry" style="text-align: right"><i><b>Last Updated: </b> {{ post.modified_date }}</i></div>
			</div><br>
			{% endfor %}
		{% else %}
		<center> There are no available posts</center>
		{% endif %}
		</div>
	</div>
  </body>
</html>

 {% endblock %}