{% extends 'basesite.html' %}
{% load staticfiles %}
{% block title %}My Posts{% endblock %}

{% block header %}
My Posts
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{%static 'posts/poststyle.css' %}" />
<!DOCTYPE html>
<html>
	<head>
		<title>My Posts</title>
    </head>
<body>
	<div id="posttablelist" style="display:block">
		<div id="list">
		{% if my_post_list %}
			{% for post in my_post_list %}
			<div class="row">				
				<div class="entry" style="float: left; padding-bottom: 25px; padding-top: 20px; padding-left: 20px; padding-right: 30px" ><img src="{{ post.image_url }}" style="max-width:100px"></div>
				<div class="entry"><b>Name:</b> {{ post.name }}</div>
				<div class="entry"><b>Date {{ post.get_state_display }}: </b> {{ post.date }} </div>
				<div class="entry"><b>Color:</b> {{ post.colour }}</div>
				<div class="entry"><b>Breed:</b> {{ post.breed }}</div>
				<div class="entry"><b>Sex:</b>  {{ post.get_sex_display }}</div><br>
				<div class="entry"><a href="/{{ post.id }}/post">More Details</a></div>
				<div class="entry" style="text-align: right"><i><b>Last Updated: </b> {{ post.modified_date }}</i></div>
			</div><br>
			{% endfor %}
		{% else %}
		<center> There are no available posts</center>
		{% endif %}
		</div>
	</div>
  </body>
</html>
{% endblock %}