html {
    margin: 0;
    padding: 0;
}
body {
	color: #232323;
    margin: 0;
    padding: 0;
}
hr {
	border-style: dashed;
	border-width: 2px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
#navigation {
    text-align: right;
}
#logo {
    float: left;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#topbar {
    text-align: left;
	padding-bottom: 50px;
	padding-top: 50px; 
	padding-left: 50px;
	padding-right: 50px;
	height: auto;
	background-color: #333333;
    color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 150%;
}
#topbar a {
    color: #FFFFFF;
}
#header {
	padding-bottom: 25px;
	padding-top: 25px; 
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
	background-color: #B7B1A3;
    color: #333333;
    font-size: 25px;
	font-family: 'Open Sans', sans-serif;
}
#content {
	padding-bottom: 25px;
	padding-top: 25px; 
	padding-left: 25px;
	padding-right: 25px;
    color: #333333;
    margin: 0 auto;
	width: 80%;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}
#content a {
    color: #333333;
}