{% extends 'basesite.html' %}

{% block title %}About Page{% endblock %}

{% block header %}
About Us
{% endblock %}

{% block content %}
<center><b>Vancouver Animal Lost 'N Found</b></center><br><br>
This project is an online platform connecting two specific users: 
those who are looking for lost pets, and those who have found stray animals that may potentially be pets. 
With the current system, owners of lost pets only have a handful of isolated mediums through which they can search for their lost pets. 
Conversely, finders of lost pets often do not know what to do with the pet once found and worse, sometimes they are not aware if the 
animal they have found is a lost pet or not. Our app creates a centralized platform through which all interested parties can communicate 
and coordinate to make sure lost pets are returned to their rightful owners.
<br><br>
The app connects to the Animal Control database to dynamically create posts for all pets reported lost to Animal Control. 
 also have the option to directly create a post for a lost pet on the app which then forwards the information to Animal Control 
 as well so that all parties are kept in the loop. These posts offer a multitude of services, including searching, sorting, 
 and mapping all reported pets. With additional features such as pictures and comments, this app will make communication between 
 parties extremely easy and, ultimately, help lost pets return to their rightful owners as soon as possible.
{% endblock %}