{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'basestyle.css' %}" />
    <title>{% block title %}Animal Lost 'N Found{% endblock %}</title>
</head>

<body>
	<div id="fullbody">
    <div id="topbar">
        <div id="logo">
        <b><font size="6pt">ANIMAL LOST 'N FOUND</font></b><br>
        <i>a service for finding lost animals</i>
        </div>
        <div id="navigation">
        <div id="nav_top_right">
        {% if user.is_authenticated %}
		<a href="/profile/">Profile</a> | 
		<a href="/logout/"><b>Logout</b></a>
		{% else %}
		<a href="/signup/">Sign Up</a> |
		<a href="/login/"><b>Login</b></a>
		{% endif %}
        </div> 
        <a href="/">Home</a> | 
        <a href="/about/">About</a> | 
        <a href="/lostposts/list">Lost Pets</a> | 
        <a href="/foundposts/list">Found Pets</a> | 
        <a href="/createpost/">Create Post</a>
        {% block sidebar %}
        {% endblock %}
        </div>
    </div>
	<div id="header">
        <b>{% block header %}
		Animal Lost 'N Found
        {% endblock %}
        </b>
    </div>

    <div id="content">
        {% block content %}  {% endblock %}
    </div>
	</div>
</body>
</html>