{% extends 'basesite.html' %}

{% block title %}Create Post{% endblock %}

{% block header %}
Create Post
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
  <style>
 label { display: inline-block; width: 140px; text-align: right; }​

</style>
  </head>
  <body>  
  <form enctype="multipart/form-data" action="" method="post">
  {% csrf_token %}
    {{ form.as_p }}
    <label for="address">Address: </label>
    <input id="address" name="address" type="text">
	<input type="submit" value="OK">
  </form>
    </body>
</html>
 {% endblock %}