{% extends 'basesite.html' %}
{% load social_share %} 
{% load static %}
{% block title %}Details Page{% endblock %}

{% block header %}
{{ post.name }}
{% endblock %}

{% block content %}

<div style="float: right; text-align: right;">
    <b>Date posted:</b> {{ post.date_created }}<br><br>
    {% if user.username == post.author %}
    <form action="/{{ post.id }}/edit">
        <input type="submit" value="Edit Post">
    </form>
    {% endif %}
    <br>
    <img src="{{post.image_url}}" class="imgResize"><br><br>
    
    <div class="share"><b>Share Post:</b> {% post_to_facebook "{{post.id}}/post" "_________" %}</div>

    {% if user.is_authenticated %}
    <form enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
        {{ form }}
    <input type="submit" name='bookmark_form' value="OK">
    </form>
    {% endif %}
    
</div>
<div style="font-size: 19px">
    <p><b>Name:</b> {{ post.name}} </p>
    <p><b>State:</b> {{post.get_state_display}} </p>
    <p><b>Date {{post.get_state_display}}:</b> {{ post.date}} </p>
    <p><b>Breed:</b> {{ post.breed}} </p>
    <p><b>Colour:</b> {{ post.colour}} </p>
    <p><b>Sex:</b> {{ post.get_sex_display}} </p>
    <p><b>Description:</b> {{ post.description_text }} </p>
</div>
    <br/>
    <hr/>
    <br/>
    
    <b><font size="5">Comments:</font></b>
    
    <br/><br/>

<div>

{% for comment in post.comments.all %}
    <div class="comment">
        
        <table>
        <col width="250">
        <tr>
        <td valign="top">
        {% if comment.image_url%}
		<p><b>Photo: </b> <br><img src="{{comment.image_url}}" class="imgResize"></p>
		{% else %}
	    <p><b>Photo: </b> N/A </p>
		{% endif %}
        {% if comment.last_known_location %}
		<p><b>Last Known Location: </b>{{ comment.last_known_location}}</p>
		{% else %}
		<p><b>Last Known Location: </b> N/A </p>	
		{% endif %}		
        </td>
        <td valign="top">
        <font size="3" color="#968d79"><b>{{ comment.author }}</b> &nbsp;&nbsp;&nbsp;&nbsp; <i>on {{ comment.date_created }}</i></font><br><br>
        <b>Comment: </b><p>{{ comment.text|linebreaks }}</p>
		</td></tr></table>
        <hr>
    </div>
{% empty %}
    <p>This post has no comments yet...</p>
{% endfor %}

{% if user.is_authenticated %}
<h2>Leave a Comment</h2>
<i>* Photo and last known locations are not mandatory</i><br><br>
<form enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
    <table>
        {{ cform.as_table }}
    </table>
    <input type="submit" name="comment_form" value="Submit" />
</form>
{% else %}
<h2>Please Login to Leave Comments</h2>
{% endif %}
</div>

<style>
    .comment hr {
        border-color: #808080;
        border-style: solid;
        border-width: 1px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .imgResize {
        max-width: 200px;
    }
    .share {
        display: inline-block;
    }
    .facebook-this {
        display: inline-block;
        background-image: url("{% static 'fb.png' %}");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .facebook-this a {  
        opacity: 0.0;
    }
    label {font-weight: bold;}​
</style>
{% endblock %}
