{% extends 'basesite.html' %}
{% load social_share %} 
{% load static %}
{% block title %}Details Page{% endblock %}

{% block header %}
{{ post.name }}
{% endblock %}

{% block content %}

<div style="float: right; text-align: right;">
    <b>Date posted:</b> {{ post.date_created }}<br><br>
    <img src="{{post.image_url}}" height="200" width="200"><br><br>
    
    <div class="share"><b>Share Post:</b> {% post_to_facebook "{{post.id}}/post" "______" %}</div>

    <form enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
        {{ form }}
    <input type="submit" value="OK">
    </form>
    <!-- TODO: add if statement to check if this is users post -->
    <form action="/{{ post.id }}/edit">
        <input type="submit" value="Edit Post">
    </form>
</div>
<div style="font-size: 19px">
    <p><b>Name:</b> {{ post.name}} </p>
    <p><b>State:</b> {{post.get_state_display}} </p>
    <p><b>Date {{post.get_state_display}}:</b> {{ post.date}} </p>
    <p><b>Breed:</b> {{ post.breed}} </p>
    <p><b>Colour:</b> {{ post.colour}} </p>
    <p><b>Sex:</b> {{ post.get_sex_display}} </p>
    <p><b>Description:</b> {{ post.description_text }} </p>
</div>
    <br/>
    <hr/>
    <br/>

COMMENT SECTION

<style>
    .share {
        display: inline-block;
    }
    .facebook-this {
        display: inline-block;
        background-image: url("{% static 'fb.png' %}");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .facebook-this a {
        color:rgba(0,0,0,0.0);
    }
    label {font-weight: bold;}​
</style>
{% endblock %}
