{% extends 'basesite.html' %}
{% load social_share %} 
{% load static %}
{% block title %}Details Page{% endblock %}

{% block header %}
{{ post.name }}
{% endblock %}

{% block content %}

<div style="float: right; text-align: right;">
    <b>Date posted:</b> {{ post.date_created }}<br><br>
    <img src="{{post.image_url}}" height="200" width="200"><br><br>
    
    <div class="share"><b>Share Post:</b> {% post_to_facebook "{{post.id}}/post" "_________" %}</div>

    <form enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
        {{ form }}
    <input type="submit" value="OK">
    </form>
    <!-- TODO: add if statement to check if this is users post -->
    <form action="/{{ post.id }}/edit">
        <input type="submit" value="Edit Post">
    </form>
</div>
<div style="font-size: 19px">
    <p><b>Name:</b> {{ post.name}} </p>
    <p><b>State:</b> {{post.get_state_display}} </p>
    <p><b>Date {{post.get_state_display}}:</b> {{ post.date}} </p>
    <p><b>Breed:</b> {{ post.breed}} </p>
    <p><b>Colour:</b> {{ post.colour}} </p>
    <p><b>Sex:</b> {{ post.get_sex_display}} </p>
    <p><b>Description:</b> {{ post.description_text }} </p>
</div>
    <br/>
    <hr/>
    <br/>

<div style="background-color:#9999CC; color:#800000; padding:25px; border-top-left-radius: 25px; border-top-right-radius: 25px;">
<h3>COMMENT SECTION</h3>
</div>
<div style="background-color:#E6E6FA; color:#800000; padding:20px; border-bottom-right-radius: 25px;border-bottom-left-radius: 25px ">

{% for comment in post.comments.all %}
    <div class="comment">
        <p><i><div class="date"; style="color:#996666;">comment written by {{ comment.author }}</div></i></p>
		{% if comment.image_url%}
		<p><b>Photo: </b> <img src="{{comment.image_url}}" height="200" width="200"></p>
		{% else %}
	    <p><b>Photo: </b> N/A </p>
		{% endif %}
		{% if comment.last_known_location %}
		<p><b>Last known location: </b>{{ comment.last_known_location}}</p>
		{% else %}
		<p><b>Last known location: </b> N/A </p>	
		{% endif %}		
        <b>Comment: </b><p>{{ comment.text|linebreaks }}</p>
		<p><i><div class="date"; style="color:#996666;">created on {{ comment.date_created }}</div></i></p>
		<p>_____________________________________________________________</p>
    </div>
{% empty %}
    <p>This post has no comments yet...</p>
{% endfor %}

{% if user.is_authenticated %}
<h2>Add Comment</h2>

<form enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
    <table>
        {{ cform.as_table }}
    </table>
    <input type="submit" name="submit" value="Submit" />
</form>
{% else %}
<h2>Please login to add comments.</h2>
{% endif %}
</div>

<style>
        .share {
        display: inline-block;
    }
    .facebook-this {
        display: inline-block;
        background-image: url("{% static 'fb.png' %}");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .facebook-this a {  
        opacity: 0.0;
    }
    label {font-weight: bold;}​
</style>
{% endblock %}
