{% extends 'basesite.html' %}

{% block title %}Post List Page{% endblock %}

{% block header %}
Posts
{% endblock %}

{% block content %}

{% if all_post_list %}

    {% for post in all_post_list %}
        <hr>
        <img src="{{post.picture}}" height="50" width="50">
        <p> Name: {{ post.name}} 
        <p> State: {{post.get_state_display}}
        <p> Date & Time {{post.get_state_display}}: {{ post.date}}
        <p> Breed: {{ post.breed}}
        <p> Colour: {{ post.colour}}
        <p> Sex: {{ post.get_sex_display}}
        <p> <a href="/{{ post.id }}/post">details</a>
        <hr>
    {% endfor %}
{% else %}
    <p>No posts are available.</p>
{% endif %}

 {% endblock %}

