{% extends 'basesite.html' %}

{% block title %}Profile{% endblock %}

{% block header %}
        <p><font size="6"; color=#ADD8E6><b>User Profile</b></font></p>
{% endblock %}

{% block content %}

    <p><font size="5"; color=#2A1500><b>Here is your account infromation:</b></font></p>
    <div style="border-radius: 30px 30px 30px 30px; background-color:fbf5d5; color:#303030; padding:20px;">
    <p><b>Name:</b> {{ lnf_user.get_full_name }}</p>
    <p><b>Bookmarked Post:</b><a href="/bmposts/">click</a></p>
    <p><b>MyPost:</b> {{ lnf_user.myPost }}</p>
    <p><a href="/import">Import</a></p>
    </div>
{% endblock %}
