{% extends 'basesite.html' %}

{% block title %}Profile{% endblock %}

{% block header %}
        User Profile
{% endblock %}

{% block content %}

    <p><font size="5"><b>Here is your account information:</b></font></p>
    <p><b>Name:</b> {{ lnf_user.get_full_name }}</p>
    <p><b>Username:</b> {{ lnf_user.username }}</p>
    <p><b>Email:</b> {{ lnf_user.email }}</p>
    <br>
    <font size="4"><b>Activity: </b></font><br>
    <ul><li><p><a href="/bmposts/">Bookmarked Posts</a></p></li>
    <li><p><a href="/mypost/">My Posts</a> </p></li></ul>
{% endblock %}
